@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #444444, #ffffff);
}

/* ESTILO DO CONTAINER DO MAPA*/
#map {
    height: 90vh;
    width: 80%;
    margin-top: 1vh; 
    border: 2px solid #00000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
}
/* FIM DO ESTILO DO CONTAINER DO MAPA*/

/* ESTILO DO CONTAINER DAS VIATURAS */
#vehicle-list {
    width: 35vh;
    padding: 5px;
    margin-top: 1vh;
    background-color: #00000000;
    overflow-y: auto;
}

#vehicles {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#vehicles li {
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.253);
}

#vehicles li img {
    margin-right: 10px;
}
/* FIM DO ESTILO DO CONTAINER DAS VIATURAS */

/* Estilo da Barra de Pesquisa */
#search-bar {
    width: 65vh; 
    padding: 6px; 
    position: relative;
    background-image: url('/static/search-icon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 3vh;
    padding-left: 5vh; /* Espaço para o ícone */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(167, 167, 167, 0.808);
}
/* FIM DO ESTILO DA BARRA DE PESQUISAS */

/* Estilo da lista de sugestões */
#suggestions {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 80vh;  /* Define a altura máxima da lista */
    overflow-y: auto;   /* Adiciona rolagem se o número de sugestões exceder a altura máxima */
    position: absolute; /* Garante que a lista apareça abaixo da barra de pesquisa */
    width: 65vh;      /* Mesma largura que a barra de pesquisa */
    z-index: 1000;      /* Coloca a lista acima de outros elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para um efeito de cascata */
}

    /* Estilo para cada item da lista */
#suggestions li {
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px solid #818181;
    transition: background-color 0.3s ease;
}

    /* Efeito de hover para os itens */
#suggestions li:hover {
    background-color: #f0f0f0;
}
/* FIM DO ESTILO DA LISTA DE SUGESTÕES */

/* POPUP DOS VEICULOS */
#vehicle-popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 250px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Estilo do título */
#vehicle-popup h4 {
    margin-top: 0;
    font-size: 16px;
    color: #000000;
}

/* Estilo das informações */
#vehicle-popup p {
    margin: 5px 0;
    color: #555;
}

/* Estilo do botão de fechar */
#close-popup {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 10px;
}

/* Estilo do botão de fechar ao passar o mouse */
#close-popup:hover {
    background-color: #d32f2f;
}
/* FIM DO POPUP DOS VEICULOS */